.title{
    font-weight: bolder;
    text-align: center;
    border-bottom: 0px solid black;
}
.article{
    border: 0px solid black;
    width: 75%;
    margin-left: 12.5%;
    padding : 10px;
    background-color: #191c1d;
}
p{
    text-align: justify;
    color: #f9ffd0;
    font-family: Helvetica;
}
body{
    background-color: #191c1d;
}