<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search results!</title>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/displayResults.js"></script>
</head>
<body>
    <a href="{{ url_for("main") }}">Home</a>
    <br>
    <b> For the query: {{ input_query }}, the following documents were found</b>
    <button onclick="hideClass($(this), 'score')">Show Scores</button>
    {% for document,score in results %}
        <ul>
            {% set documentName = document[16:-4] %}
            <li><a href="{{ document }}">{{ documentName }}</a>
            <span class="score">: {{ score }}</span></li>
        </ul>
    {% endfor %}
    {% if zero_scores %}
        <div class="warning">
            <i>The following words do not exist in our corpus:</i>
            {% for word in zero_scores.keys() %}
                <ul>
                    <li>{{ word }}. Perhaps you meant:
                    {% for correction in zero_scores[word] %}
                        <ul>
                        <li>{{ correction }}</li>
                        </ul>
                    {% endfor %}
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
    <div class="results">
    <button id="displayReason" onclick="$(this).next().toggle()">Why am I seeing
        these
        results?</button>
    <div class="reason">
        <b> For the query "<i>{{ input_query }}</i>", our algorithm gave the
            following
            orders of importance to various words
        </b>
        <ul>
            {% for query_word in scores %}
                <li>{{ query_word }} : {{ scores[query_word]*100 }}</li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <b>You can tell us which words to give more importance for!</b>
    <form method="post" action="{{ url_for('weighted_search')}}">
        <input type="hidden" name="query" value="{{ input_query }}"/>
        {% for query_word in scores %}
            <label for="{{ query_word }}">{{ query_word }}:</label>
            <input name="{{ query_word }}" id="{{ query_word }}"
                   class="inputField"/>
        {% endfor %}
        <input type="submit" id="weightedSearch" value="Search"/>
    </form>
</body>
</html>